*
    box-sizing: border-box
body
    display: grid
    grid-template-columns: 1fr
    height: 100%
    font-family: $open
select
    appearance: none
    border: none
    background-repeat: no-repeat    
    background-position: right center
    cursor: pointer

.container
    width: 1170px
    margin: 0 auto  
.button
    cursor: pointer
