*
    box-sizing: border-box
body
    display: grid
    grid-template-columns: 1fr
    height: 100%
    font-family: $open
select
    appearance: none
    border: none
    background-repeat: no-repeat    
    background-position: right center
    cursor: pointer

.container
    width: 1170px
    margin: 0 auto  
.button
    cursor: pointer
.list
    margin: 0
    padding: 0
    list-style: none
.link
    text-decoration: none
.more-stuff
    display: flex
    align-items: center
    justify-content: space-between
    padding: 12.5px 16px
    width: 179px
    border: 0
    border-radius: 12px    
    background-color: #f5f5f5            
    &__txt
        font-family: $poppins
        font-weight: 700
        font-size: 15px
        line-height: 22px
        color: $black