.best-selling
    padding: 64px 0
    &__container
        display: grid
        grid-template-columns: 1fr 3fr
    &__menu-wrapper
        position: relative
        grid-column: 1/2
        display: flex
        flex-direction: column
    &__items
        grid-column: 2/3
        display: flex
        justify-content: space-between
        align-items: center
        
    .list
        &__item
            margin-bottom: 12px
            &:nth-last-child(2)
                margin-bottom: 48px
            &:last-child
                margin-bottom: 0
                position: absolute
                bottom: 0
        &__link
            font-size: 14px
            line-height: 19px
            color: $primary